In [37]:
# Depencies needed
import pymongo
import pandas as pd
from sqlalchemy import create_engine

In [38]:
flu_data = pd.read_csv("TransformCSV/flu_10to21.csv")
vaccine_data = pd.read_csv("TransformCSV/vaccine_11to21.csv")
flu_data.head()

,Age group,Symptomatic Illnesses (Estimate),Symptomatic Illnesses (95% UI†),Medical Visits (Estimate),Medical Visits (95% UI†),Hospitalizations (Estimate),Hospitalizations (95% UI†),Deaths (Estimate),Deaths (95% UI†),Year
0,0-4 yrs,2776311,"(2,286,712, 3,521,500)",1860128,"(1,497,299, 2,411,113)",19355,"(15,942, 24,550)",200,"(0, 509)",2010-2011
1,5-17 yrs,4435345,"(3,609,151, 5,847,156)",2306379,"(1,847,898, 3,083,851)",12161,"(9,896, 16,032)",152,"(0, 1,498)",2010-2011
2,18-49 yrs,7410066,"(6,149,320, 9,526,927)",2741724,"(2,203,691, 3,638,292)",41593,"(34,516, 53,475)",5240,"(3,682, 8,341)",2010-2011
3,50-64 yrs,4843828,"(4,031,400, 6,493,256)",2082846,"(1,662,186, 2,869,122)",51367,"(42,752, 68,859)",5937,"(4,254, 9,385)",2010-2011
4,65+ yrs,1820570,"(1,591,020, 2,395,285)",1019519,"(851,630, 1,383,748)",165506,"(144,638, 217,753)",25128,"(19,368, 42,189)",2010-2011

In [39]:
vaccine_data.head()

         Week  Total Doses Distributed
0  2012-02-03                    132.1
1  2012-01-20                    132.0
2  2011-12-30                    131.2
3  2011-12-16                    130.6
4  2011-12-09                    130.1

In [40]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [41]:
# Declare the database
db = client.flu_vaccines_db

In [42]:
# Declare the collections
flu = db.flu
vaccine = db.vaccine

flu_dict = flu_data.to_dict("records")
vaccine_dict = vaccine_data.to_dict("records")

In [43]:
# Insert collection
flu.insert_many(flu_dict)
vaccine.insert_many(vaccine_dict)

In [44]:
protocol = 'postgresql'
username = 'postgres'
password = 'Varsity11!'
host = 'localhost'
port = 5432
database_name = 'flu_impact_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
     

flu_data.to_sql(name='flu_cases', con=engine, if_exists='append', index=False)
vaccine_data.to_sql(name='vaccines', con=engine, if_exists='append', index=False)

162