In [37]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
import json

In [38]:
#Reading in vaccines2018 to Dataframe
vaccines = pd.read_csv("ExtractCSV/vaccines/vaccines2018.csv")
vaccines

          Week Total Doses Distributed
0   03/01/2019               ≈ 169.1 M
1   02/22/2019               ≈ 169.1 M
2   02/15/2019               ≈ 169.1 M
3   02/08/2019               ≈ 169.1 M
4   02/01/2019               ≈ 168.9 M
5   01/25/2019               ≈ 168.6 M
6   01/18/2019               ≈ 168.4 M
7   01/11/2019               ≈ 168.0 M
8   01/04/2019               ≈ 167.0 M
9   12/14/2018               ≈ 166.6 M
10  12/07/2018               ≈ 165.5 M
11  11/30/2018               ≈ 163.8 M
12  11/23/2018               ≈ 162.1 M
13  11/09/2018               ≈ 159.1 M

In [39]:
#Transforming DF to usable data
#Number of doses given
vaccines["Total Doses Distributed"] = vaccines["Total Doses Distributed"].str.replace(" M","")
vaccines["Total Doses Distributed"] = vaccines["Total Doses Distributed"].str.replace("≈ ","")
vaccines["Total Doses Distributed"] = vaccines["Total Doses Distributed"].str.replace("≈","")
vaccines["Total Doses Distributed"] = vaccines["Total Doses Distributed"].astype(float)
#Number changing from string to date
vaccines["Week"] = pd.to_datetime(vaccines["Week"])
vaccines

         Week  Total Doses Distributed
0  2019-03-01                    169.1
1  2019-02-22                    169.1
2  2019-02-15                    169.1
3  2019-02-08                    169.1
4  2019-02-01                    168.9
5  2019-01-25                    168.6
6  2019-01-18                    168.4
7  2019-01-11                    168.0
8  2019-01-04                    167.0
9  2018-12-14                    166.6
10 2018-12-07                    165.5
11 2018-11-30                    163.8
12 2018-11-23                    162.1
13 2018-11-09                    159.1

In [77]:
vaccines_11to17 = pd.DataFrame()

for k in range(1,7):
    try:
        addayear = pd.read_csv("ExtractCSV/vaccines/vaccines201" + str(k) + ".csv")
        vaccines_11to17 = pd.concat([vaccines_11to17, addayear], ignore_index=True)

    except Exception as e:
        print(f'An error occurred: {e} in {k}')

vaccines_11to17

           Week Total Doses Distributed
0      02/03/12   ≈ 132.1 million doses
1      01/20/12   ≈ 132.0 million doses
2      12/30/11   ≈ 131.2 million doses
3      12/16/11   ≈ 130.6 million doses
4       12/9/11   ≈ 130.1 million doses
..          ...                     ...
119  10/07/2016   ≈ 116.3 million doses
120  09/23/2016   ≈ 108.8 million doses
121  09/16/2016    ≈ 93.2 million doses
122  09/09/2016    ≈ 69.7 million doses
123  09/02/2016    ≈ 52.7 million doses

[124 rows x 2 columns]

In [81]:
#Transforming DF to usable data
#Number of doses given
vaccines_11to17["Total Doses Distributed"] = vaccines_11to17["Total Doses Distributed"].astype("str")

vaccines_11to17.dtypes

In [62]:



vaccines_11to17["Total Doses Distributed"] = vaccines_11to17["Total Doses Distributed"].str.replace(" million doses","")
vaccines_11to17["Total Doses Distributed"] = vaccines_11to17["Total Doses Distributed"].str.replace("≈ ","")
vaccines_11to17["Total Doses Distributed"] = vaccines_11to17["Total Doses Distributed"].astype("float")


#Number changing from string to date
vaccines_11to17["Week"] = pd.to_datetime(vaccines_11to17["Week"])
vaccines_11to17

ValueError: could not convert string to float: '= approximate'

In [51]:
vaccines_11to17.dtypes

Week                       object
Total Doses Distributed    object
dtype: object

In [32]:
vaccines_20to21 = pd.DataFrame()

for k in range(0,1):
    try:
        addayear = pd.read_csv("ExtractCSV/vaccines/vaccines202" + str(k) + ".csv")
        vaccines_20to21 = pd.concat([vaccines_20to21, addayear], ignore_index=True)

    except Exception as e:
        print(f'An error occurred: {e} in {k}')

vaccines_20to21.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
#Transforming DF to usable data
#Number of doses given
vaccines_20to21["Total Doses Distributed"] = vaccines_20to21["Total Doses Distributed"].str.replace(" M","")
vaccines_20to21["Total Doses Distributed"] = vaccines_20to21["Total Doses Distributed"].str.replace("≈ ","")
vaccines_20to21["Total Doses Distributed"] = vaccines_20to21["Total Doses Distributed"].astype(float)
#Number changing from string to date
vaccines_20to21["Week"] = pd.to_datetime(vaccines["Week"])

vaccines_20to21